@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~keen-slider/keen-slider.min.css";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.slick-slide > div {
  margin: 0 10px; 
}

/* Arquivo que cuida da animação do histórico */

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.slide-in-button {
  animation: slide-in-button 0.5s forwards;
}
.slide-out-button{
  animation: slide-out-button-a 0.5s forwards;
}

@keyframes slide-in-button {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(300px);
  }
}

@keyframes slide-out-button-a {
  from {
      transform: translateX(300px);
  }
  to {
      transform: translateX(0px);
  }
}
